services:

  #-------------------------------------#
  # Traefik : reverse proxy with HTTPS
  #-------------------------------------#
  proxy:
    hostname: traefik
    container_name: proxy
    image: traefik:v3.6.8
    extra_hosts:
      - host.docker.internal:$HOST_IP
    ports:
      - 80:80
      - 443:443
    command: 
      - --log.level=INFO
      - --api.dashboard=true
      - --api.insecure=true
      - --ping=true
      - --entrypoints.http.address=:80
      - --entrypoints.http.http.redirections.entryPoint.to=https
      - --entrypoints.http.http.redirections.entryPoint.scheme=https
      - --entrypoints.https.address=:443
      - --entrypoints.https.http.tls.certresolver=ovh
      - --entrypoints.https.http.tls.domains[0].main=${DOMAINNAME}
      - --entrypoints.https.http.tls.domains[0].sans=*.${DOMAINNAME}
      # Cert Resolver for domains through DNSChallenge
      - --certificatesresolvers.ovh.acme.dnsChallenge.provider=ovh
      - --certificatesresolvers.ovh.acme.email=alexiscouvreur.pro@gmail.com
      - --certificatesresolvers.ovh.acme.storage=/etc/traefik/acme/acme.json
      - --accesslog.filePath=/logs/traefik.log
      - --accesslog.fields.names.StartUTC=drop
      - --providers.docker=true
      - --providers.docker.exposedByDefault=false
      - --providers.docker.network=proxy
      - --providers.docker.defaultRule=Host(`{{ index .Labels "com.docker.compose.service" }}.${DOMAINNAME}`)
      - --experimental.plugins.sablier.modulename=github.com/sablierapp/sablier-traefik-plugin
      - --experimental.plugins.sablier.version=v1.1.0
    environment:
      - OVH_ENDPOINT
      - OVH_APPLICATION_KEY
      - OVH_APPLICATION_SECRET
      - OVH_CONSUMER_KEY
      - TZ
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/logs/traefik:/logs
      - ${PIDRIVE}/config/traefik:/etc/traefik
    networks:
      - default
      - proxy
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.proxy.service=api@internal

  sablier:
    image: sablierapp/sablier:1.11.1
    container_name: sablier
    command:
      - start
      - --provider.name=docker
    networks:
      - default
      - proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

networks:
  proxy:
    external: true
    name: proxy