services:

  plex:
    image: linuxserver/plex:1.43.0
    container_name: plex
    network_mode: host
    environment:
      - PUID
      - PGID
      - TZ
      - VERSION=docker
    volumes:
      - ${PIDRIVE}/config/plex:/config
      - ${PIDRIVE}/media/tvshows:/tv
      - ${PIDRIVE}/media/movies:/movies
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.services.plex-media.loadbalancer.server.port=32400
    mem_limit: 512m

  gluetun:
    image: qmcgaw/gluetun:v3.41.1
    container_name: gluetun
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
    environment:
      - TZ
      - VPN_SERVICE_PROVIDER=nordvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY
      - WIREGUARD_ADDRESSES=10.5.0.2/32
      - SERVER_COUNTRIES=Canada
      - SERVER_CITIES=Montreal
    networks:
      - proxy
      - default
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.transmission.rule=Host(`transmission.${DOMAINNAME}`)
      - traefik.http.routers.transmission.service=transmission@docker
      - traefik.http.services.transmission.loadbalancer.server.port=9091
    mem_limit: 512m

  #-------------------------------------#
  # Transmission : torrent manager
  #-------------------------------------#
  transmission:
    image: linuxserver/transmission:4.1.0
    container_name: transmission
    network_mode: service:gluetun
    depends_on:
      - gluetun
    environment:
      - PUID
      - PGID
      - TZ
      - TRANSMISSION_WEB_HOME=/config/themes/combustion/combustion-release
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${PIDRIVE}/config/transmission/transmission-home:/config
      - ${PIDRIVE}/media/downloads:${PIDRIVE}/media/downloads
    mem_limit: 128m

  #-------------------------------------#
  # Sonarr : tvshow manager
  #-------------------------------------#
  sonarr:
    image: linuxserver/sonarr:4.0.16
    container_name: sonarr
    volumes:
      - ${PIDRIVE}/config/sonarr:/config
      - ${PIDRIVE}/media:${PIDRIVE}/media
    environment:
      - PUID
      - PGID
      - TZ
      - UMASK=022
    networks:
      - proxy
      - default
    restart: unless-stopped
    labels:
      - traefik.enable=true
    mem_limit: 256m

  #-------------------------------------#
  # Radarr : movie manager
  #-------------------------------------#
  radarr:
    image: linuxserver/radarr:6.0.4
    container_name: radarr
    volumes:
      - ${PIDRIVE}/config/radarr:/config
      - ${PIDRIVE}/media:${PIDRIVE}/media
    environment:
      - PUID
      - PGID
      - TZ
      - UMASK=022
    networks:
      - proxy
      - default
    restart: unless-stopped
    labels:
      - traefik.enable=true
    mem_limit: 512m

  #-------------------------------------#
  # Prowlarr : index manager
  #-------------------------------------#
  prowlarr:
    image: linuxserver/prowlarr:2.3.0
    container_name: prowlarr
    volumes:
      - ${PIDRIVE}/config/prowlarr:/config
    environment:
      - PUID
      - PGID
      - TZ
    networks:
      - proxy
      - default
    restart: unless-stopped
    labels:
      - traefik.enable=true
    mem_limit: 256m

  sponsor-block-tv:
    image: ghcr.io/dmunozv04/isponsorblocktv:v2.6.1
    container_name: sponsor-block-tv
    volumes:
    -  ${PIDRIVE}/config/sponsor-block-tv:/app/data
    environment:
      - PUID
      - PGID
      - TZ
    mem_limit: 64m

networks:
  proxy:
    external: true
    name: proxy