services:
  vaultwarden:
    image: vaultwarden/server:1.35.4
    container_name: vaultwarden
    environment:
      - DOMAIN=https://vaultwarden.${DOMAINNAME}
      - WEB_VAULT_ENABLED=true
      - ADMIN_TOKEN=${VAULTWARDEN_ADMIN_TOKEN}
      - SMTP_HOST=smtp.gmail.com
      - SMTP_FROM
      - SMTP_PORT=587
      - SMTP_SECURITY=starttls
      - SMTP_USERNAME
      - SMTP_PASSWORD
      - PUSH_ENABLED=true
      - PUSH_INSTALLATION_ID=${BW_INSTALLATION_ID}
      - PUSH_INSTALLATION_KEY=${BW_INSTALLATION_KEY}
    volumes:
      - ${PIDRIVE}/config/vaultwarden-data/:/data/
    networks:
      - proxy
      - default
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.services.vaultwarden.loadbalancer.server.port=80

networks:
  proxy:
    external: true
    name: proxy